body {
 background-color: #faf2e4;
 margin: 0 15%;
 font-family: sans-serif;
}
h1 {
 text-align: center;
 font-family: serif;
 font-weight: normal;
 text-transform: uppercase;
 border-bottom: 1px solid #57b1dc;
 margin-top: 30px;
}
h2
{
 color: #d1633c;
 font-size: 1em;
}
img {
 max-width: 100%;
 height: auto;
}
a:link
 {
color:#8A2BE2;
text-decoration: none;
 }
a:active
 {
color:red;
text-decoration:underline;

 }
a:visited
 {
color:gray;
text-decoration: none;
 }

a:hover
{
color:#A52A2A;
font-size: 1em;
text-decoration: underline;
}